.slider {
    position: relative;
    width: 100%;
    margin: auto;
    overflow: hidden;
}

.slider img {
    width: 100%;
    display: none;
}

img.displaySlide {
    display: block;
    animation: fade 0.5s;
}

.slider button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2rem;
    background-color: rgba(36, 36, 36, 0.5);
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    padding: 10px;
    transition: background-color 0.3s ease;
}

.slider button:hover {
    background-color: rgba(36, 36, 36, 1);

}

.prev {
    left:0;
    margin-left: 25px;
}
.next {
    right: 0;
    margin-right: 25px;
}

@keyframes fade {
    from {
        opacity: 0.5;
    }
    to {
        opacity: 1;
    }
}